body p {
    color: #7C7C7C;
}
.carouselimage {
    width: 100%;
    height: 500px;
    background: linear-gradient( rgba(37, 37, 37, 0.75), rgba(37, 37, 37, 0.75)), url(../images/book1.jpg);
}

.carouselimage1 {
    width: 100%;
    height: 500px;
    background: linear-gradient( rgba(37, 37, 37, 0.75), rgba(37, 37, 37, 0.75)), url(../images/book5.jpg);
}

.carouselimage2 {
    width: 100%;
    height: 500px;
    background: linear-gradient( rgba(37, 37, 37, 0.75), rgba(37, 37, 37, 0.75)), url(../images/book6.jpg);
}
.carouselimage3 {
    width: 100%;
    height: 500px;
    background: linear-gradient( rgba(37, 37, 37, 0.75), rgba(37, 37, 37, 0.75)), url(../images/book4.jpg);
}
.carouselimage4 {
    width: 100%;
    height: 500px;
    background: linear-gradient( rgba(37, 37, 37, 0.75), rgba(37, 37, 37, 0.75)), url(../images/book9.jpg);
}
.carousel-indicators--round li {
    border-radius: 10px;
    margin: 1px 3px;
    height: 10px;
    max-width: 10px;
    border: 1px solid #FFF;
    background-color: transparent;
}
.carousel-indicators .active {
    background-color: #fff;
    max-width: 12px;
    margin: 0 3px;
    height: 12px;
}
.hr1 hr {
    margin-left: 0px;
    width: 3em;
    color: #00ADEF;
    background-color: #86C232;
    border-top: 5px solid #86C232;
    border-right: 5px solid #252525;
}
.font i {
    display: inline-block;
    border-radius: 60px;
    color: #00ADEF;
    background-color: white;
    padding: 0.5em 0.6em;
}
.fontawe i {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
}
.fontawe .fa {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
    display: inline;
}
.fontawe:hover {
    border-color: #86C232;
    color: #86C232;
}
.foot1 {
    float: left;
    color: white;
    display: inline;
}
.foot p {
    width: 30em;
    display: inline;
}
.underline p {
    border-bottom: 1px solid #7C7C7C;
}
.logo {
    width: 100%;
    height: 100%;
}
.footcolor {
    background-color: #252525;
}
.footcolor h4 {
    color: #E2E2E2;
}
.bttncolor{
    background-color: #86C232;
    margin-top: 30px;
}
.navbar1 {
    font-size: 18px;
    color:black;
}
.navbar1 a:hover{
    color:#86C232;
}
.labelname{
    font-size: 20px;
}
[dataletters1]:before {
  content:attr(dataletters1);
  display:inline-block;
  font-size:1em;
  width:2.5em;
  height:2.5em;
  line-height:2.5em;
  text-align:center;
  border-radius:50%;
  background:red;
  vertical-align:middle;
  margin-right:1em;
  color:white;
  float: right;
}
.layout {
    border: 0px;
}
.img {
    width: 70%;
    height: 40%;
}

.wrap-login{
  width: 680px;
  background: #fff;
  border-radius: 10px;
  position: relative;
}
